@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width of scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #888;
  }

  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #f0f0f0;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
